Classroom Info
<%= render partial: 'classroom', locals: {classroom: @classroom} %>
<p>Students</p>
<% @classroom.students.each do |s| %>
<%= render partial: 'students/student', locals: {student: s} %>
<% end %>
