

<h1>All Students</h1>

<h2>Search By name</h2>
<%= form_tag(students_path, method: :get) do  %>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search") %>
<% end %>

<% @students.each do |s| %>
<%= render partial: 'students/student', locals: {student: s} %>
<% end %>
